.Node {
  width: 0.99%;
  padding-top: 1%;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
  text-align: center;
  flex-grow: 1;
}

.Node-help {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
}

.Node-start,
.Node-end {
  background-repeat: no-repeat;
  cursor: -webkit-grab;
  cursor: grab;
}

.Node-start {
  background-image: url('/icon-start.svg');
}

.Node-end {
  background-image: url('/icon-end.svg');
}

.Node-visited {
  -webkit-animation-name: visitedAnimation;
  animation-name: visitedAnimation;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  border-color: rgba(37, 20, 83, 0.192);
}

@-webkit-keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 50%;
    outline: 0;
    background-color: #220950;
    border-radius: 100%;
  }
  50% {
    outline: 0;
    background-color: #1364a5;
    opacity: 1;
    transfrom: scale(1);
  }
  70% {
    outline: 1px;
    transform: scale(1.2);
    background-color: #71e2a4be;
    opacity: 1;
  }
  75% {
    outline: 1px;
    transform: scale(1.3);
    opacity: 0.8;
    background-color: #71e2a4be;
  }

  100% {
    transform: scale(1);
    background-color: #13c78b;
    opacity: 1;
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 50%;
    outline: 0;
    background-color: #220950;
    border-radius: 100%;
  }
  50% {
    outline: 0;
    background-color: #1364a5;
    opacity: 1;
    transfrom: scale(1);
  }
  70% {
    outline: 1px;
    transform: scale(1.2);
    background-color: #71e2a4be;
    opacity: 1;
  }
  75% {
    outline: 1px;
    transform: scale(1.3);
    opacity: 0.8;
    background-color: #71e2a4be;
  }

  100% {
    transform: scale(1);
    background-color: #13c78b;
    opacity: 1;
  }
}

.Node-wall {
  border-color: rgb(146, 146, 146);
  -webkit-animation-name: wallAnimation;
  animation-name: wallAnimation;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes wallAnimation {
  0% {
    transform: scale(1);
    background-color: rgb(70, 70, 70);
    opacity: 1;
  }

  50% {
    transform: scale(1.4);
    background-color: rgb(83, 83, 83);
  }

  100% {
    transform: scale(1);
    background-color: rgb(70, 70, 70);
    opacity: 1;
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(1);
    background-color: rgb(70, 70, 70);
    opacity: 1;
  }

  50% {
    transform: scale(1.4);
    background-color: rgb(99, 99, 99);
  }

  100% {
    transform: scale(1);
    background-color: rgb(70, 70, 70);
    opacity: 1;
  }
}

.Node-shortest-path {
  -webkit-animation-name: shortestPath;
  animation-name: shortestPath;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(216, 70, 33);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(221, 29, 4);
  }

  100% {
    transform: scale(1);
    background-color: rgb(236, 137, 22);
    border-color: white;
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(253, 109, 43);
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(255, 68, 11, 0.911);
  }

  100% {
    transform: scale(1);
    background-color: rgb(236, 137, 22);
    border-color: #ccc;
  }
}

.NavDropdown-label {
  height: 100%;
  color: white;
  font-size: 1rem;
  line-height: 4.5rem;
  font-weight: bold;
  display: inline-block;
}

.NavDropdown {
  margin: 0 1rem;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
}

.NavDropdown select {
  background-color: #18967d;
  color: #fff;
  font-size: inherit;
  padding: 0.7rem;
  width: 10rem;
  border: 0;
  margin: 0;
  border-radius: 3px;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none; /* hide default arrow in chrome OSX */
  transition: all ease-in 0.2s;
}

.NavDropdown select:hover {
  background-color: #34b66e;
}

.NavDropdown::before,
.NavDropdown::after {
  content: '';
  position: absolute;
  pointer-events: none;
}

.NavDropdown::after {
  /*  Custom dropdown arrow */
  content: '\25BC';
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.NavDropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.NavDropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.NavDropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.NavDropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.NavDropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1824px) {
  .NavDropdown-label {
    display: none;
  }
}

@media (max-width: 1400px) {
  .NavDropdown {
    padding: 0;
    position: relative;
    height: auto;
  }
  .NavDropdown-label {
    height: auto;
    display: inline-block;
    line-height: 3rem;
  }
}

.StartButton {
  height: 80%;
  min-height: 3rem;
  outline: none;
  align-self: center;
  border-radius: 5%;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.StartButton:hover {
  transform: scale(1.02);
}
.Dark {
  background-color: transparent;
  border: 2px solid #1abc9c;
  letter-spacing: 5px;
  padding: 0 3rem;
}
.Dark:hover {
  border-color: #5cdb95;
  background-color: #5cdb9511;
}

.Light {
  background-color: #18967d;
  font-weight: bold;
  border: none;
  padding: 0 2rem;
  cursor: pointer;
  letter-spacing: 1px;
}
.Light:hover {
  background-color: #34b66e;
  transform: scale(1.02);
}
